body {

    font-family: Arial, sans-serif;

    background-color: #f4f4f4;

    text-align: center;

    padding: 40px;
}

h1 {

    color: #333;
}

button {

    padding: 12px 24px;

    font-size: 16px;

    cursor: pointer;

    margin-bottom: 30px;
}

.card {

    background: white;

    width: 350px;

    margin: auto;

    padding: 20px;

    border-radius: 12px;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.face-image {

    width: 256px;

    border-radius: 10px;

    margin-bottom: 15px;
}

.container {

    display: flex;

    justify-content: center;

    gap: 30px;

    align-items: flex-start;
}

#history-panel {

    width: 80%;

    margin: 30px auto;

    background: white;

    padding: 20px;

    border-radius: 10px;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

#history-list {

    display: flex;

    flex-wrap: wrap;

    gap: 10px;
}

#history-list {

    display: flex;

    flex-wrap: wrap;

    gap: 10px;

    list-style: none;

    padding: 0;

    justify-content: center;
}

#history-list li {

    background: #e8f0ff;

    padding: 10px 15px;

    border-radius: 20px;

    cursor: pointer;

    transition: 0.2s;

    font-weight: bold;
}

#history-list li:hover {

    transform: scale(1.05);

    background: #d6e5ff;
}

#ml-dashboard {

    margin-top: 30px;

    padding: 20px;

    background: white;

    border-radius: 10px;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

#training-info {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 10px;
}

.action-section {

    margin: 20px auto;

    text-align: center;
}

.action-section h2 {

    margin-bottom: 10px;
}

#training-gallery {

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 30px;

    margin-top: 30px;
}

.epoch-card {

    text-align: center;
}

.epoch-card img {

    width: 100%;

    border-radius: 10px;

    box-shadow:
        0px 4px 10px rgba(0,0,0,0.2);
}

#loss-graph-container {

    margin-top: 40px;

    text-align: center;
}

#loss-graph {

    width: 80%;

    max-width: 1000px;

    border-radius: 10px;

    box-shadow:
        0px 4px 10px rgba(0,0,0,0.2);
}

#project-overview {

    width: 80%;

    margin: 20px auto;

    padding: 25px;

    background: white;

    border-radius: 10px;

    box-shadow:
        0px 4px 10px rgba(0,0,0,0.2);

    text-align: center;
}

#project-overview p {

    max-width: 800px;

    margin: auto;

    line-height: 1.6;
}

#feature-tags {

    margin-top: 20px;
}

.tag {

    display: inline-block;

    padding: 10px 15px;

    margin: 5px;

    border-radius: 20px;

    background: #e8f0ff;

    font-weight: bold;
}